@model GetByIDWhoWeAreDetailDto
@{
    ViewData["Title"] = "GetWhoWeAreDetail";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Biz Kimiz Detayları</h6>
                <form method="post">
                    <input type="hidden" asp-for="WhoWeAreDetailID" />
                    <label>Başlık:</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <label>Alt Başlık:</label>
                    <input type="text" asp-for="Subtitle" class="form-control" />
                    <label>Açıklama 1:</label>
                    <textarea rows="5" asp-for="Description1" class="form-control"></textarea>
                    <label>Açıklama 2:</label>
                    <textarea rows="5" asp-for="Description2" class="form-control"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>

