@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hayalinizdeki eve bir adım uzaktasınız</title>

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
</head>
<body>

    <!--header-->
    @await Component.InvokeAsync("_HeaderViewComponentPartial")
    <!--/header-->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
            <div class="container pt-lg-5 py-3">
            </div>
        </div>
    </section>

    <!-- contacts -->
    @RenderBody()
    <!-- //contacts -->
    <!-- footers 20 -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")



</body>

</html>
